# dependencies
/node_modules
*node_modules/*
node_modules/


# Other standard ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.log


# Ignore Truffle build artifacts
/build/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc


# Environments
.env
env/
*env/
env


# pyenv
.python-version


# VS Code
.code-workspace


# Hidden JSON files
.*.json
.vscode/
